.full-screen {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.button-click {
  display: inline-block;
  border: none;
  border-radius: 5px;
}
.header {
  font-size: 14px;
  height: 54px;
  background-color: #262626;
  line-height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}
.logo {
  float: left;
  padding: 0 20px;
}
.logo a {
  background: url(./Images/Banner/envato_market-dde916a48af7413e54aa058fe7ae6856752fca799da4bec355f00aea904bfa19.svg);
  position: absolute;
  top: 18px;
  height: 18px;
  width: 150px;
}
.buy-now-btn {
  float: right;
  padding: 0 20px;
}
.buy-now {
  box-shadow: 0 3px 0 #304d0a;
  background-color: #82b440;
  font-size: 14px;
  padding: 6px 10px;
  line-height: 1.5;
}
.button-buy-now {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.header-top {
  background-color: #ff6647;
  height: 60px;
}

.h-top li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: white;
}
.h-top li {
  list-style: none;
}
.h-top ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.envelope,
.location,
.phone,
.heart,
.arrow-right {
  height: 18px;
  width: 18px;
}
.heart,
.arrow-right {
  /* background-color: #c0c0c0b8; */
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px;
  stroke: #ff6647;
  stroke-width: 2px;
}
.h-top ul li {
  padding-top: 5px;
  position: relative;
  display: inline-block;
  list-style: none;
  padding-right: 15px;
}
.social-media-logos a {
  padding-top: 0;
  text-decoration: none;
  padding-top: 5px;
}
.social-media-logos img {
  height: 15px;
  width: 15px;
  margin-right: 35px;
}

.header-box {
  background-color: white;
  /* background-color: aqua; */
  border-radius: 5px;
  padding: 20px 60px;
  margin-top: -10px;
}
.un-list li {
  list-style: none;
  margin-right: 20px;
}
.nav-item {
  font-weight: 600;
  margin-top: 10px;
}

.magnifying-glass {
  width: 26px;
  height: 24px;
  margin-right: 20px;
}
.header-menu-btn {
  /* height: 30px;
  width: 51px;
  line-height: 51px; */

  cursor: pointer;
  margin-left: 30%;
}
@media (min-width: 990px) and (max-width: 1225px) {
  .header-menu-btn {
    margin-left: 70%;
  }
}
.menu-svg {
  stroke: #262626;
  width: 28px;
  height: 28px;
}
.hero {
  /* position: relative;
  z-index: 0; */
}
.hero-bg {
  height: 150%;
  width: 100%;
  position: absolute;
  top: 90px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: right top;
}
@media (min-width: 1164px) and (max-width: 1280px) {
  .hero-bg {
    width: 123%;
    height: 170%;
  }
}
@media (min-width: 1024px) and (max-width: 1164px) {
  .hero-bg {
    width: 132%;
    height: 170%;
  }
}
@media (max-width: 1024px) {
  .hero-bg {
    width: 160%;
    height: 190%;
  }
}
.hero-bg-image .shape-1 {
  position: absolute;
  top: 22%;
  right: 38%;
  z-index: -1;
}
@media (max-width: 1340px) {
  .hero-bg-image .shape-1 {
    display: none;
  }
}
@media (min-width: 1920px) and (max-width: 2560px) {
  .hero-bg-image .shape-1 {
    position: absolute;
    top: 17%;
    right: 38%;
    z-index: -1;
  }
}
@media (min-width: 2560px) and (max-width: 3860px) {
  .hero-bg-image .shape-1 {
    position: absolute;
    top: 12%;
    right: 38%;
    z-index: -1;
  }
}
@media (min-width: 3860px) and (max-width: 5120px) {
  .hero-bg-image .shape-1 {
    position: absolute;
    top: 10%;
    right: 38%;
    z-index: -1;
  }
}
.hero-bg-image .shape-2 {
  top: 30rem;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.02;
  /* opacity: 0.04; */
  z-index: 0;
}
.offcanvas {
  /* position: relative; */
  padding: 40px 30px 40px 40px;
  /* z-index: 999; */

  min-height: 100%;
}
.offcanvas__popup-gallery {
  margin-bottom: 30px;
}
.offcanvas__title {
  font-size: 24px;
  color: #1b1d21;
  font-weight: 700;
  margin-bottom: 10px;
}
.offcanvas__popup-gallery a {
  margin: 5px 3px;
  display: inline-block;
}
.offcanvas__popup-gallery a img {
  height: 100px;
  max-width: 100px;
  object-fit: cover;
  -webkit-transition: all 0.3s 0s ease-out;
  -moz-transition: all 0.3s 0s ease-out;
  -ms-transition: all 0.3s 0s ease-out;
  -o-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}
.offcanvas-body {
  flex-grow: 1;
  padding: 0 !important;
  overflow-y: visible !important;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1312px;
  }
}
.pb-170 {
  padding-bottom: 170px;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.hero-subtitle {
  display: inline-block;
  /* font-family: var(); */
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ff6647;
  margin-bottom: 10px;
  padding-top: 62px;
}
.hero-title {
  font-size: 65px;
  font-weight: 700;
  /* color: #ff6647; */
  line-height: 1.2;
  color: #0f0f0f;
  margin-bottom: 25px;
}
@media (min-width: 1422px) {
  .hero-title {
    font-size: 62px;
  }
}
.hero-title-wrapper p {
  color: #878680;
  margin-bottom: 46px;
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0px;
}
.mr-30 {
  margin-right: 30px;
}
.hero-btn .btn {
  font-size: 14px;
  font-weight: 800;
}
.brn-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: var(--bs-white);
  padding: 18px 28px;
  border-radius: 5px;
}
.brn-btn i {
  transform: translateY(1px);
  margin-left: 6px;
  font-weight: 900;
}
.plus {
  width: 20px;
  height: 22px;
  stroke-width: 3px;
}
.brn-btn:hover {
  color: var(--crn-common-white);
  background: var(--bs-secondary);
}
.brn-btn {
  text-decoration: none;
  background-color: #ff6647;
}
header .header-box {
  /* position: sticky; */
  /* position: -webkit-sticky; */
  top: 2px;
  /* top: 0; */
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(3, 4, 28, 0.1);
  background: var(--bs-white);
  /* animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
  transition: 0.3s ease; */
  z-index: 99;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px),
  only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-tab {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}
.hero-tab nav .nav-tabs {
  border: none;
  border: 1px solid #e3e3e3;
  border-radius: 10px 10px 0px 0px;
  width: 317px;
}
.hero-tab nav .nav-tabs .nav-item.show .nav-link.active,
.hero-tab nav .nav-tabs .nav-link.active {
  color: var(--bs-white);
  background-color: #ff6647;
  border: none;
}
.hero-tab nav .nav-tabs .nav-item.show .nav-link,
.hero-tab nav .nav-tabs .nav-link {
  color: var(--crn-heading-primary);
  font-weight: 600;
  font-size: 18px;
  border: #f8f8f8;
  padding: 6px 36px;
}
.tab-content > .active {
  display: block;
}
.fade {
  transition: opacity 0.15s linear;
}
.hero-tab-box {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 0px 20px 20px 20px;
  padding: 20px 30px 25px 30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-tab-item {
    margin-right: 35px;
  }
}

.hero-tab-item {
  position: relative;
  margin-right: 52px;
}
.hero-tab-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}

.hero-tab-content input {
  background: none;
  border: none;
  height: 20px;
  padding-left: 0;
  padding-right: 0;
  font-weight: 400;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="url"],
textarea {
  outline: none;
  background-color: transparent;
  /* height: 36px; */
  width: 100%;
  line-height: 80px;
  font-size: 14px;
  color: var(--bs-black);
  padding-left: 0px;
  padding-right: 26px;
  /* border: 1px solid #e0e2e3; */
}
.hero-tab-icon {
  margin-left: -30px;
}
.hero-tab-icon span {
  color: #919191;
}
.fa-location-dot {
  width: 24px;
  height: 18px;
  display: inline-block;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-tab-item {
    margin-right: 35px;
  }
}
.hero-tab-item {
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 2px solid #91919144;
}
.hero-tab-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 9px;
}
select {
  word-wrap: normal;
}

button,
select {
  text-transform: none;
}
option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.hero-tab-content .nice-select {
  border: none;
  padding: 0;
  margin: 0;
  height: 27px;
  line-height: 24px;
  padding-right: 70px;
  background: none;
}
.nice-select.wide {
  width: 100%;
}
.hero-tab-content span {
  font-weight: 400;
  color: #919191;
}
.fa-magnifying-glass {
  width: 36px;
  height: 26px;
  color: white;
  stroke-width: 3px;
}
.hero-tab-search {
  background-color: #ff6647;
  padding: 15px;
  border-radius: 40%;
  width: 60px;
  margin-left: 7%;
}
.tab-content > .tab-pane {
  display: none;
}

.fade:not(.show) {
  opacity: 0;
}
.fade {
  transition: opacity 0.15s linear;
}
.about-shape {
  position: absolute;
  top: 80rem;
  left: 14%;
  z-index: 1;
}
.about-shape img {
  box-shadow: 0px 1px 10px #919191ba;
}
@media (min-width: 1280px) and (max-width: 1427px) {
  .about-shape {
    position: absolute;
    top: 80rem;
    left: 4%;
  }
}
@media (min-width: 1020px) and (max-width: 1280px) {
  .about-shape {
    position: absolute;
    top: 92rem;
    left: 14%;
  }
}
@media (min-width: 850px) and (max-width: 1000px) {
  .about-shape {
    position: absolute;
    top: 84rem;
    left: 54%;
  }
}
@media (min-width: 1600px) and (max-width: 1708px) {
  .about-shape {
    position: absolute;
    top: 80rem;
    left: 10%;
  }
}
.pt-40 {
  padding-top: 6rem;
}
.pb-120 {
  padding-bottom: 120px;
}
.section-title-pre {
  color: #ff6647;
  font-weight: 700;
  font-size: 16px;
}
.section-title {
  font-size: 3rem;
  font-weight: 700;
  color: #1b1d21;
  margin-bottom: 5rem;
}
@media (min-width: 1023px) and (max-width: 1165px) {
  .section-title {
    font-size: 2.4rem;
  }
}
.about-wrapper-list {
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 600;
  margin-left: -1.5rem;
  margin-bottom: 2rem;
  /* display: inline-block; */
  border-bottom: 2px solid #e3e3e3;
  padding-bottom: 20px;
  display: inline-flex;
}
.about-right {
  margin-top: 0rem;
}
@media (min-width: 1020px) and (max-width: 1280px) {
  .about-wrapper-list {
    display: inline-block !important;
  }
  .about-right {
    margin-top: -1rem;
  }
}
.about-wrapper-list ul {
  list-style: none;
}
.check {
  height: 18px;
  width: 18px;
  padding: 2px;
  background-color: #ff6647;
  border-radius: 50%;
}
.check {
  stroke: #e3e3e3;
  stroke-width: 4px;
}
.about-point {
  display: flex;
}
@media (min-width: 1020px) and (max-width: 1280px) {
  .about-point {
    display: block;
    margin-left: 20px;
  }
  .about-point-inner {
    margin-bottom: 26px;
  }
}
.about-point-inner {
  margin-right: 70px;
}
.about-point-icon span {
  position: relative;
  margin-right: 15px;
}
.about-point-icon span::after {
  position: absolute;
  content: "";
  left: -15px;
  bottom: -30px;
  width: 45px;
  height: 49px;
  background-color: rgba(255, 102, 71, 0.2);
}
.about-point-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.about-point-content p {
  font-size: 18px;
  font-weight: 400;
  color: #333f4d;
  margin: 0;
}
@media (min-width: 992px) {
  .text-lg-end {
    text-align: right !important;
  }
}
.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 17px;
  background-color: #ff6647;
  color: var(--bs-white);
  padding: 15px 26px;
  border-radius: 5px;
  text-decoration: none;
}
.btn i {
  transform: translateY(1px);
  margin-left: 6px;
  font-weight: 900;
}
.btn svg {
  width: 24px;
  height: 25px;
  stroke-width: 3px;
}
.mb-30 {
  margin-bottom: 30px;
}
.house-listing-item {
  background: #f5f5f5;
  border-radius: 5px;
}
.house-listing-content:hover {
  cursor: grab;
  box-shadow: 0px 0px 8px #87868095;
  background-color: white;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
.p-relative {
  position: relative;
}
.house-listing-thumb img {
  border-radius: 5px 5px 0px 0px;
  max-width: 100%;
}
.house-listing-rent span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 11px 20px;
  border-radius: 5px;
  color: var(--bs-white);
  background: #ff6647;
}
.house-listing-content {
  padding: 20px 40px 30px 40px;
}
.mb-20 {
  margin-bottom: 20px;
}
.house-listing-content-feature p {
  font-size: 12px;
  font-weight: 400;
}
.house-listing-content-feature {
  margin-top: 20px;
}
.house-listing-content-feature img {
  width: 22px;
  height: 20px;
}
.house-listing-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 32px;
}
.house-listing-content-price a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  padding: 6px 14px;
  color: #262626;
}
.house-listing-content-price p {
  font-size: 18px;
  font-weight: 700;
  color: var(--crn-heading-primary);
}
.house-listing-thumb img {
  border-radius: 5px 5px 0px 0px;
  max-width: 100%;
}
.house-listing-content-reaction p {
  font-weight: 400;
  font-size: 18px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px),
  only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 575px) {
  .house-listing-content {
    padding: 20px 25px 30px 25px;
  }
}
.carousel-indicators [data-bs-target] {
  background-color: #ff6647 !important;
  width: 108px !important;
  height: 5px !important;
  margin: 90px -9px -5rem 10px !important;
  border-radius: 14px;
}
@media (min-width: 1020px) and (max-width: 1270px) {
  .house-listing-content-reaction p {
    font-size: 11px;
  }
  .house-listing-title {
    font-size: 12px;
    margin-bottom: 13px;
  }
  .house-listing-content-feature p {
    font-size: 12px;
  }
  .house-listing-content-feature {
    margin-bottom: 0;
  }
  .house-listing-content-feature img {
    width: 14px;
    height: 20px;
  }
  .house-listing-content-price a {
    font-size: 10px;
    height: 27px;
    padding: 4px 18px;
  }
  .house-listing-content-price p {
    font-size: 14px;
  }
}
.pt-120 {
  padding-top: 120px;
}
.pb-90 {
  padding-bottom: 90px;
}
.service-item-content {
  background-color: white;
  border: 1px solid #8786802f;
}
.service-item-thumb {
  overflow: hidden;
  border-radius: 5px 10px 0 0;
  /* height: 290px;
  width: 400px; */
}
.service-item-thumb img {
  filter: brightness(90%);
  will-change: transform, filter;
  /* transition: all 0.3s ease-in-out; */
  transition: transform 0.2s;
}
.service-item-icon {
  position: absolute;
  right: 25px;
  top: 50%;
}
.service-item-icon span {
  height: 80px;
  width: 80px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  background: var(--bs-white);
  box-shadow: 0px 2px 36px rgba(43, 43, 43, 0.12);
  border-radius: 4px;
}
.service-item-content {
  padding: 68px 80px 30px 35px;
  border-radius: 0 0 7px 7px;
  font-weight: 700;
}
.service-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  transition: none;
}
.service-title a {
  text-decoration: none;
  color: #1b1d21;
}
.service-item-content .btn {
  position: absolute;
  bottom: 40px;
  right: 25px;
}
@media (min-width: 1020px) and (max-width: 1220px) {
  .middle-item {
    padding: 69px 80px 30px 35px;
  }
  .title-middle {
    font-size: 27px;
  }
  .middle-item p {
    font-size: 16px;
  }
}

.arrow-right-below {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  background-color: #ff6647;
  stroke: white;
  stroke-width: 2px;
}
.service-item:hover {
  .service-item-content {
    background-color: #ff6647;
    color: white;
  }
  .service-title a {
    color: white;
  }
  .arrow-right-below {
    background-color: white;
    stroke: #ff6647;
  }
  .service-item-thumb img {
    transform: scale(1.2);
  }
}
.portfolio-tab-button {
  background: var(--bs-white);
  box-shadow: 0px 2px 36px rgba(43, 43, 43, 0.12);
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-tab-button button.active {
  color: var(--bs-white);
  background: #ff6647;
}

.portfolio-tab-button button {
  position: relative;
  z-index: 0;
  font-size: 18px;
  font-weight: 400;
  padding: 18px 28px;
  border-radius: 40px;
  border-color: transparent;
  background: var(--bs-white);
}
.portfolio-tab-button button span {
  position: relative;
  z-index: 1;
}
.portfolio-tab-button button :hover {
  color: #d44428;
  font-weight: 600;
}
@media (min-width: 1020px) and (max-width: 1280px) {
  .portfolio-thumb img {
    width: 99%;
  }
}
.p-relative {
  position: relative;
}
.team-counter-box {
  /* background: url(./Images/section6/bg.jpg); */
  position: relative;
  background-repeat: no-repeat;
  background-position-y: 62%;
  /* height: 600px; */
  /* background-size: cover; */
}
.team-counter-overlay {
  position: absolute;
  content: "";
  left: 0;
  top: 33%;
  height: 600px;
  width: 100%;
  background: rgba(31, 49, 63, 0.9);
  background-position: left;
  background-repeat: no-repeat;
  z-index: 1;
}
.team-wrapper {
  z-index: 1;
}
.team-nav button {
  /* position: absolute; */
  /* left: 20px;
  height: 65px; */
  width: 65px;
  z-index: 1;
  border: none;
  background-color: transparent;
}
.team-nav {
  top: 55px;
  right: 0px;
}
.arrow-long-right,
.arrow-long-left {
  /* position: absolute;
  height: 65px;
  width: 65px; */
  padding: 15px;
  stroke: #ff6647;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 900;
  color: var(--bs-white);
  background: #91919117;
}
.arrow-long-left:hover {
  background-color: #ff6647;
  stroke: white;
}
.arrow-long-right:hover {
  background-color: #ff6647;
  stroke: white;
}
.fa-share-nodes {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.team-title a {
  text-decoration: none;
  color: #1b1d21;
  font-size: 30px;
  font-weight: 700;
}
.team-item {
  /* border: 1px solid #e3e3e3;
  background: #f8f8f8; */
  border-radius: 5px;
}
.team-thumb img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.team-content span {
  /* position: absolute; */
  color: var(--bs-white);
  background-color: #ff6647;
  padding: 18px;
  border-radius: 5px;
  top: 66%;
  width: 65px;
  margin-top: -63px;
  margin-left: 16rem;
}
.team-content {
  /* padding-top: 0; */
  padding: 0px 40px 40px 30px;
  background-color: white;
  border-radius: 0 0 5px 5px;
}
.team-content p {
  font-size: 20px;
  font-weight: 400;
}
.team-title {
  font-size: 28px;
  font-weight: 600;
}
.counter-wrapper {
  position: relative;
  background: var(--bs-white);
  box-shadow: 0px 2px 36px rgba(43, 43, 43, 0.2);
  border-radius: 10px;
  padding: 80px 60px 50px 60px;
  z-index: 1;
}
.counter-item-icon span {
  height: 75px;
  width: 75px;
  text-align: center;
  line-height: 75px;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid rgba(255, 102, 71, 0.2);
  margin-right: 15px;
}
.counter-title {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 3px;
}
.counter-item-content p {
  color: #0f0f0f;
}
.faq-thumb {
  margin-top: -50px;
  padding-left: 80px;
}
.play {
  width: 40px;
  height: 40px;
}
.faq-thumb .main-img {
  transform: rotate(315deg);
}
.faq-thumb .shape-1 {
  position: absolute;
  top: -55px;
  left: 2%;
  z-index: -1;
}
.faq-thumb .shape-2 {
  position: absolute;
  bottom: -14px;
  right: -3%;
}
.play-btn {
  position: relative;
  height: 94px;
  width: 94px;
  line-height: 90px;
  display: inline-block;
  background: var(--bs-white);
  border-radius: 50%;
  color: #ff6647;
}
.faq-thumb .faq-video-btn {
  position: absolute;
  top: 36%;
  left: 59%;
  transform: translateX(-59%);
}
.play-btn:hover {
  background-color: #ff6647;
  color: white;
}
.accordion-sec .accordion-item {
  border: 0;
  background: var(--bs-white);
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 20px;
}
.accordion-sec .accordion-item h2 {
  color: #1f313f;
  margin-top: 0px;
  font-weight: 500;
  line-height: 1.2;
  -webkit-transition: color 0.3s 0s ease-out;
  -moz-transition: color 0.3s 0s ease-out;
  -ms-transition: color 0.3s 0s ease-out;
  -o-transition: color 0.3s 0s ease-out;
  transition: color 0.3s 0s ease-out;
}
.accordion-sec .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion-sec .accordion-button:not(.collapsed) {
  color: var(--bs-white);
  background-color: #1f313f;
  box-shadow: none;
}
.accordion-sec .accordion-body {
  padding: 0 42px 20px 40px;
  border-radius: 0 0 5px 5px;
  background-color: #1f313f;
}
.accordion-sec .accordion-body p {
  font-size: 18px;
  color: var(--bs-white);
}
.accordion-sec .accordion-button {
  padding: 27px 40px 20px 40px;
  color: #333f4d;
  font-weight: 600;
  font-size: 18px;
  background: var(--bs-white);
  box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1),
    0px 4px 13px -2px rgba(19, 16, 34, 0.06);
  border-radius: 5px 5px 0 0;
}
.package-bg {
  top: 0;
  left: 0;
  position: absolute;
  height: 524px;
  width: 100%;
  background: #ff6647;
  background-blend-mode: multiply;
}
.below-style:hover {
  background-color: #ff6647;
  border-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
}
.contact-shape {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .contact-thumb-wrapper .shape-1 {
    left: 0px;
  }
}

.contact-thumb-wrapper .shape-1 {
  position: absolute;
  bottom: -43px;
  left: 1px;
  z-index: -1;
}
.contact-thumb-wrapper img {
  max-width: 100%;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .contact-thumb-wrapper .shape-2 {
    right: -20px;
  }
}
.contact-thumb-wrapper .shape-2 {
  position: absolute;
  bottom: 43px;
  right: -4px;
}
.contact-form .contact-input input,
.contact-form .contact-input textarea {
  font-size: 18px;
  height: 70px;
  border-radius: 5px;
  border: 0.990476px solid #e3e3e3;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.contact-form .contact-input textarea {
  height: 8rem;
  resize: none;
  margin-bottom: 20px;
  padding-top: 1rem;
}
.contact-form p {
  font-weight: 400;
  font-size: 18px;
  color: #919191;
  margin-bottom: 28px;
}
.btn-below {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  background-color: #ff6647;
  color: var(--bs-white);
  padding: 18px 28px;
  border-radius: 5px;
  border: none;
}
.btn-below:hover {
  background-color: #1f313f;
}
.contact-input input:hover {
  border-color: #ff6647;
}
.contact-input textarea:hover {
  border-color: #ff6647;
}
.star {
  width: 20px;
  height: 20px;
}
.testimonial-item {
  border-radius: 8px;
  background: var(--bs-white);
}
.testimonial-item:hover {
  background-color: #ff6647;
  color: white;
  .testimonial-title {
    color: white;
  }
}
.testimonial-content {
  padding: 40px;
}
.testimonial-user-content {
  padding-top: 1rem;
}
.testimonial-rating {
  margin-bottom: 30px;
}
.testimonial-user-wrapper {
  margin-bottom: 30px;
}
.testimonial-user-thumb {
  margin-right: 10px;
}
.testimonial-user-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.testimonial-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #1b1d21;
  font-weight: 600;
}
.testimonial-content p {
  font-size: 10x;
}
.blog-item {
  border-radius: 8px;
  background: #f8f8f8;
}
.blog-thumb {
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;
}
.blog-thumb img {
  /* transition: width 1s, height 1s, transform 1s; */
  transition: transform 0.3s ease-in-out;
}
.blog-item:hover {
  .blog-thumb img {
    transform: rotate(4deg) scale(1.1);
  }
}
.blog-date {
  position: absolute;
  top: 40%;
  right: 40px;
}
.blog-date span {
  font-size: 18px;
  font-weight: 600;
  color: var(--bs-white);
  background-color: #ff6647;
  padding: 11px 15px;
  display: inline-block;
  border-radius: 5px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px),
  only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-content {
    padding: 20px;
  }
}

.blog-content {
  padding: 30px;
}
.blog-content:hover {
  box-shadow: 0px 2px 8px #87868095;
  background-color: white;
}
.blog-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 12px;
}
.blog-title a:hover {
  text-decoration: underline solid 1px black;
}
.blog-title a {
  background-image: linear-gradient(#03041c, #03041c),
    linear-gradient(#03041c, #03041c);
  background-size: 0% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s linear;
  text-decoration: none;
  color: #0f0f0f;
}
.blog-btn-wrapper a,
.comm {
  font-size: 18px;
  text-decoration: none;
  color: #0f0f0f;
  font-weight: 700;
}
.arrow-right-below1 {
  width: 25px;
  stroke: #ff6647;
  stroke-width: 2px;
}
.cta-input {
  padding: 0 47px;
  margin-bottom: 30px;
}
.area input {
  font-size: 18px;
  height: 75px;
  padding-left: 33px;
  border: 1px solid #8786806b;
  background-color: white;
  border-radius: 2px;
}
.area button {
  position: absolute;
  top: 7px;
  right: 55px;
  font-size: 18px;
  border-radius: 2px;
  font-weight: 600;
  background: #ff6647;
  color: var(--bs-white);
  border: none;
  padding: 17px 50px;
}
.cta-text p {
  color: #82828a;
}
.cta-text a {
  text-decoration: none;
  color: var(--bs-black);
}
.footer-sec-area {
  position: relative;
  z-index: 1;
}
.footer-sec-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.footer-sec-border {
  border-bottom: 1px solid #333f4d;
}
.footer-sec-main-area {
  padding-bottom: 20px;
}
.footer-sec-col-1 {
  padding-right: 0px;
}
.footer-sec-widget-content p {
  margin-bottom: 22px;
}
.footer-sec-widget-call-thumb {
  margin-right: 20px;
}
.footer-sec-widget-call-content p {
  margin-bottom: 4px;
}
.footer-sec-widget-call-content a {
  font-size: 18px;

  font-weight: 600;
}
footer a {
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .footer-sec-col-2 {
    margin-left: 120px;
  }
}
.footer-sec-col-2 {
  margin-left: 160px;
}

.footer-sec-widget-title {
  position: relative;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 45px;
}
.footer-sec-widget-title::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 85px;
  background-color: #ff6647;
}
.footer-sec-widget-content ul li:not(:last-of-type) {
  margin-bottom: 14px;
}
.footer-sec-widget-content ul li {
  position: relative;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
}
footer ul {
  margin: 0px;
  padding: 0px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .footer-sec-col-3 {
    margin-left: 110px;
  }
}
.footer-sec-col-3 {
  margin-left: 154px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .footer-sec-col-4 {
    margin-left: 135px;
  }
}
.footer-sec-col-4 {
  margin-left: 175px;
}
.footer-sec-widget-content ul li a:hover {
  text-decoration: underline 1px solid white;
}
.footer-sec-copyright-area {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-sec-copyright-inner a:not(:last-of-type) {
  margin-right: 20px;
}

.footer-sec-copyright-inner a {
  font-weight: 400;
  font-size: 18px;
}
.footer-sec-copyright-inner a:hover {
  color: #ff6647;
}
.team-thumb {
  position: relative;
  /* z-index: -1; */
}
@media (max-width: 733px) {
  .third-team-img {
    display: none;
  }
}
.icons-socio img {
  width: 30px;
  height: 30px;
  padding: 2px;
  background-color: transparent;
  margin-left: 5px;
  margin-top: -1.5rem;
}
.icons-socio {
  z-index: 1;
  position: absolute;
  top: 1rem;
  left: 19rem;
  /* display: none; */
}
.img-1 {
  display: none;
}
.img-2 {
  display: none;
}
.img-3 {
  display: none;
}

@media (min-width: 840px) and (max-width: 1279px) {
  .faq-thumb {
    margin-top: 6rem;
  }
  .faq-thumb .shape-1 {
    left: 18%;
  }
  .faq-thumb .shape-2 {
    bottom: 2rem;
    right: 5%;
  }
  .faq-thumb .faq-video-btn {
    left: 55%;
  }
}

.team-thumb:hover {
  .img-1 {
    width: 43px;
    height: 43px;
    display: inline-flex;
    z-index: 1;
    margin-top: 1rem;
    padding: 13px;
    background-color: #ff6647;
    border-radius: 18px;
  }
  .img-2 {
    width: 43px;
    height: 43px;
    display: inline-flex;
    z-index: 1;
    margin-top: 1rem;
    padding: 13px;
    background-color: #ff6647;
    border-radius: 18px;
  }
  .img-3 {
    width: 43px;
    height: 43px;
    display: inline-flex;
    z-index: 1;
    margin-top: 1rem;
    padding: 13px;
    background-color: #ff6647;
    border-radius: 18px;
  }
}
@media (min-width: 1281px) and (max-width: 5120px) {
  .icons-socio {
    z-index: 1;
    position: absolute;
    top: 1rem;
    left: 21rem;
    /* display: none; */
  }
  .team-content span {
    margin-left: 19rem;
  }
}
@media (min-width: 840px) and (max-width: 1025px) {
  .icons-socio {
    z-index: 1;
    position: absolute;
    top: 1rem;
    left: 15rem;
    /* display: none; */
  }
  .team-content span {
    margin-left: 13rem;
  }
}
@media (max-width: 855px) {
  .team-content span {
    padding: 11px;
  }
  .team-content span {
    margin-left: 8rem;
  }
  .icons-socio {
    z-index: 1;
    position: absolute;
    top: 1rem;
    left: 10rem;
    /* display: none; */
  }
  .icons-socio img {
    width: 20px;
    height: 20px;
    padding: 20px;
  }
}
@media (min-width: 840px) and (max-width: 1279px) {
  .faq-thumb {
    margin-top: 6rem;
  }
  .faq-thumb .shape-1 {
    left: 18%;
  }
  .faq-thumb .shape-2 {
    bottom: 2rem;
    right: 5%;
  }
  .faq-thumb .faq-video-btn {
    left: 55%;
  }
}

/* Modified for offcanvas-top */
/* .offcanvas-top show {
  height: 20px;
}
.header-box {
  position: relative;
}
.search-input {
  /* padding: 1rem; */
/* justify-content: flex-start; */
/* margin-left: 0rem; */
/* width: 56rem; */
/* } */
/* .search-icon {
  background-color: transparent;
} */
/* .search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 33px;
  stroke: black;
  right: 10rem;
}  */
.down {
  width: 10px;
  stroke: black;
  stroke-width: 3px;
  /* margin-left: -10px; */
}
.dropbtn {
  border: none;
  border-color: transparent;
  padding: 0;
}
.dropbtn a {
  text-decoration: none;
  background-color: white;
  color: var(--bs-black);
  padding: 16px;
  font-size: 18px;
  border: none;
  font-weight: 600;
}

.dropbtn a:hover {
  color: #ff6647;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  background-color: var(--bs-white);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--bs-white);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}
