body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}
/* Navbar */
.header-main {
  position: sticky;
  top: 0;
  z-index: 99;
  height: 90px;
  background-color: white;
  /* background-color: aqua; */
}
.logo {
  float: left;
  padding: 0 20px;
}
.logo a {
  position: absolute;
  top: 18px;
  height: 18px;
  width: 150px;
}
.header-logo img {
  width: 15rem;
}
.down {
  width: 10px;
  stroke: black;
  stroke-width: 3px;
  /* margin-left: -10px; */
}
.dropbtn {
  background-color: transparent;
  padding: 16px 0;
  font-size: 16px;
  border: none;
  font-weight: 600;
}
.dropbtn a {
  background-color: transparent;
  color: var(--bs-black);
  padding: 16px;
  font-size: 16px;
  border: none;
  font-weight: 600;
  text-decoration: none;
}

.dropbtn a:hover {
  color: #ff6647;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  background-color: var(--bs-white);
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--bs-white);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}
.search-icon {
  width: 20px;
  height: 20px;
}
.search-icon:hover {
  color: #ff6647;
}
.searchInOff {
  width: 28px;
  margin: 0 20px;
  stroke: #ff6647;
  color: #ff6647;
}
.menus button {
  margin-top: 1rem;
}
@media (max-width: 1164px) {
  .menus .btn {
    margin-top: 1.5rem;
  }
}
.offcanvas {
  overflow-y: auto !important;
}
.offcanvas {
  padding: 0px 30px 40px 40px;
  min-height: 100%;
}
.offcanvas__popup-gallery {
  margin-bottom: 30px;
}
.offcanvas__title {
  font-size: 24px;
  color: #1b1d21;
  font-weight: 700;
  margin-bottom: 10px;
}
.offcanvas__popup-gallery a {
  margin: 5px 3px;
  display: inline-block;
}
.offcanvas__popup-gallery a img {
  height: 100px;
  max-width: 100px;
  object-fit: cover;
}
.offcanvas-body {
  flex-grow: 1;
  padding: 0 !important;
  overflow-y: visible !important;
}
.offcanvas__contact-content {
  padding-bottom: 6px;
}
.offcanvas__social img {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  background-color: #ff6647;
  padding: 10px;
  border-radius: 5px;
}
.location,
.mail,
.phone {
  height: 18px;
  width: 16px;
  margin-right: 5px;
}
@media (min-width: 1164px) {
  .body-zoomed {
    display: none;
  }
}
@media (max-width: 1164px) {
  .body-normal {
    display: none;
  }
}
.body-zoomed ul li {
  list-style: none;
}
.main-menu-mobile ul li.has-dropdown > a.expanded {
  color: #ff6647;
}

.main-menu-mobile ul li:not(:last-child) a {
  border-bottom: 1px solid rgba(2, 11, 24, 0.1);
}
.main-menu-mobile ul li > a {
  display: block;
  font-size: 16px;
  color: var(--bs-black);
  position: relative;
  padding: 10px 0;
  padding-right: 20px;
}
.main-menu-content li a {
  list-style: none;
}
.body-zoomed a {
  text-decoration: none;
  color: black;
}
.main-menu-mobile
  ul
  li.has-dropdown
  > a.expanded
  .dropdown-toggle-btn.dropdown-opened {
  background-color: #ff6647;
  border-color: #ff6647;
}
.main-menu-mobile ul li.has-dropdown > a .dropdown-toggle-btn {
  position: absolute;
  right: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(2, 11, 24, 0.12);
  transform: translateY(-15px);
}
.dropdown-content a:hover {
  background-color: #ff6647;
  color: white;
  border-radius: 20px 0;
}
.dropdown-content {
  width: 140px;
}

/* banner Or breadcrumb */
.arrow {
  width: 20px;
}
.breadcrumb__bg {
  position: absolute;
  top: 6rem;
  left: -5px;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.breadcrumb__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  color: #262626;
}
.breadcrumb-area {
  margin-top: 4rem;
}
.z-index-1 {
  z-index: 1;
}
.fix {
  overflow: hidden;
}
.breadcrumb__list a {
  text-decoration: none;
  color: var(--bs-black);
}
.breadcrumb__list span:not(:last-child) {
  padding-right: 10px;
}
.breadcrumb__list span {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: var(--bs-black);
}
.breadcrumb__list span a:hover {
  color: #ff6647;
}
.section-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #1f313f;
}
.property-title-wrapper span {
  font-weight: 400;
  font-size: 18px;
  color: #919191;
}
.prop-section-inside {
  background: #f8f8f8;
  border-radius: 5px;
  padding: 40px 30px;
}
.prop-section-inside-title {
  font-size: 28px;
  font-weight: 600;
  color: #1f313f;
  margin-bottom: 32px;
}

.prop-section-inside-checkbox ul li {
  list-style: none;
}
.prop-section-inside-checkbox ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

.prop-section-inside-checkbox ul li label {
  position: relative;
  padding-left: 9px;
  font-size: 18px;
  font-weight: 400;
  color: #919191;
  z-index: 1;
}
.prop-section-inside-checkbox ul {
  padding-left: 0;
}
.prop-section-inside-title {
  font-size: 28px;
  font-weight: 600;
  color: #1f313f;
  margin-bottom: 32px;
}
.form-label {
  color: #919191;
}
.prop-section-inside-filter-info h5 {
  color: var(--bs-black);
}
.prop-section-inside-title {
  font-size: 28px;
  font-weight: 600;
  color: #1f313f;
  margin-bottom: 32px;
}
.prop-section-inside-search {
  position: relative;
}
.prop-section-inside-search input {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  background: #1f313f;
  border: 1px solid #1f313f;
  padding-right: 40px;
  padding-left: 20px;
  color: white !important;
}
.prop-section-inside-search button {
  position: absolute;
  top: 18px;
  right: 20px;
  font-size: 16px;
}
.prop-main-img {
  border-radius: 5px;
  background: #f8f8f8;
}
.property-thumb img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.property-feature {
  position: absolute;
  top: 30px;
  right: 30px;
}
.property-feature .feature-btn {
  font-weight: 600;
  font-size: 18px;
  color: var(--bs-white);
  background: #ff6647;
  padding: 12px 18px;
  border-radius: 5px;
  margin-right: 20px;
}
.feature-heart {
  border-radius: 5px;
  margin-right: 20px;
}
.p-relative {
  position: relative;
}
.property-price {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.property-price span {
  font-size: 28px;
  font-weight: 600;
  display: inline-block;
  color: var(--bs-white);
  background: #ff6647;
  padding: 12px 20px;
  border-radius: 5px;
}

.property-content {
  padding: 30px;
}
.property-content-list img,
.property-btn-share img,
.feature-heart img {
  width: 20px;
  height: 20px;
}
.property-content-list i {
  margin-left: 2rem;
}
.property-content-inner img {
  width: 20px;
}
.property-content-inner {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 30px;
  color: #262626;
}
.property-content p {
  margin-bottom: 30px;
}
.property-content a {
  font-size: 18px;
  font-weight: 400;
  color: var(--crn-text-body);
}
.property-btn a {
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}
.property-btn-share a {
  background: var(--bs-white);
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  height: 40px;
  width: 40px;

  text-align: center;
  display: inline-block;
  padding: 0;
}
.property-btn-share img {
  margin-top: 6px;
}
.property-title {
  font-weight: 700;
}
.feature-heart img {
  background-color: white;
  width: 55px;
  height: 55px;
  padding: 16px;
  border-radius: 50%;
}
/* footer */
.fooTer-area {
  position: relative;
  z-index: 1;
  margin-top: 120px;
}
.fooTer-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.fooTer-border {
  border-bottom: 1px solid #333f4d;
}
.fooTer-main-area {
  padding-bottom: 20px;
}
.fooTer-col-1 {
  padding-right: 0px;
}
.fooTer-widget-content p {
  margin-bottom: 22px;
}
.fooTer-widget-call-thumb {
  margin-right: 20px;
}
.fooTer-widget-call-content p {
  margin-bottom: 4px;
}
.fooTer-widget-call-content a {
  font-size: 18px;

  font-weight: 600;
}
footer a {
  text-decoration: none;
  color: white;
}
.fooTer-col-2 {
  margin-left: 160px;
}

.fooTer-widget-title {
  position: relative;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 45px;
}
.fooTer-widget-title::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 85px;
  background-color: #ff6647;
}
.fooTer-widget-content ul li:not(:last-of-type) {
  margin-bottom: 14px;
}
.fooTer-widget-content ul li {
  position: relative;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
}
footer ul {
  margin: 0px;
  padding: 0px;
}
.fooTer-col-3 {
  margin-left: 154px;
}
.fooTer-col-4 {
  margin-left: 175px;
}
.fooTer-widget-content ul li a:hover {
  text-decoration: underline 1px solid white;
}
.fooTer-copyright-area {
  padding-top: 30px;
  padding-bottom: 30px;
}
.fooTer-copyright-inner a:not(:last-of-type) {
  margin-right: 20px;
}

.fooTer-copyright-inner a {
  font-weight: 400;
  font-size: 18px;
}
.fooTer-copyright-inner a:hover {
  color: #ff6647;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .fooTer-col-2 {
    margin-left: 120px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .fooTer-col-3 {
    margin-left: 110px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .fooTer-col-4 {
    margin-left: 135px;
  }
}
@media (min-width: 1163px) and (max-width: 1270px) {
  .fooTer-widget {
    width: 16rem;
  }
  .fooTer-widget-call-content p {
    font-size: 14px;
  }
  .fooTer-widget-call-content a {
    font-size: 14px;
  }
  .fooTer-col-2 {
    margin-left: 5rem;
  }
  .fooTer-col-3 {
    margin-left: 4rem;
  }
  .fooTer-col-4 {
    margin-left: 4rem;
  }
}
@media (min-width: 850px) and (max-width: 1164px) {
  .fooTer-col-2 {
    margin-left: 3rem;
  }
  .fooTer-col-3 {
    margin-left: 3rem;
  }
  .fooTer-col-4 {
    margin-left: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 450px) {
  .breadcrumb__content {
    text-align: center;
  }
  .feature-heart img {
    margin-right: -3rem;
    width: 44px;
    height: 44px;
    padding: 13px;
  }
  .property-feature {
    top: 0;
  }
  .property-feature .feature-btn {
    margin-right: 0px;
    font-size: 12px;
  }
  .property-price span {
    font-size: 15px;
    padding: 10px 9px;
  }
  .property-price {
    bottom: -19px;
    left: 6px;
  }
  .fooTer-widget-content ul {
    display: flex;
    justify-content: space-between;
  }
  .fooTer-col-2 {
    margin-left: 0rem;
  }
  .fooTer-col-3 {
    margin-left: 0rem;
  }
  .fooTer-col-4 {
    margin-left: 0rem;
  }
  .fooTer-widget {
    margin-bottom: 20px !important;
  }
  .fooTer-widget-title {
    margin-bottom: 21px;
  }
  .property-list-area {
    padding-top: 1rem !important;
  }
  .section-title {
    font-size: 30px;
  }
  .prop-section-inside-title {
    font-size: 21px;
    padding-top: 2rem;
  }
  .prop-section-inside {
    padding: 40px 30px 0 30px;
  }
  .prop-section-inside-filter-info h5 {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .header-logo img {
    width: 12rem;
    margin-top: 10px;
  }
  .property-content-list {
    display: block !important;
  }
}
@media (min-width: 426px) and (max-width: 770px) {
  .fooTer-col-2 {
    margin-left: 3rem;
  }
  .fooTer-col-3 {
    margin-left: 3rem;
  }
  .fooTer-col-4 {
    margin-left: 3rem;
  }
}
